env {
    RUST_LOG = "info"
}

process {

    withLabel: concensus_processing {
        cpus=4
    }
    withLabel: beast {
        cpus = 2
        errorStrategy='finish'
    }
    withLabel: tree_building{
        cpus = 5
        errorStrategy='finish'
    }
}

params {
    filter=false
    outDir="./"
    save_every=10000000
    ML_tree=null
    fa=null
    template=null
    n=null
    seed=null
    logs_burnin=null
    logs_resample=null
    burnin=null
    resample=null
    sequence_length=null
    clock_rate=null
    clock_filter=0
    prune_outgroup=false
    outgroup=null
    dBeastgenOptions=""
    min_bl=0.000005
    iqtree2_settings="-m JC -nt 5 -blmin 0.00000001"
    masked_sites="11082"
    reference=null

    stop_after_alignment=false
    stop_after_tree_building=false
    stop_after_tree_processing=false
    stop_after_beastgen=false
    stop_after_beast=false
    stop_after_DTA=false

}
