env {
    RUST_LOG = "info"
}


process {
    withLabel: beast {
        cpus = 2
    }
}

params {
    outDir="./"
    save_every=10000000
    ML_tree=null
    template=null
    n=null
    seed=null
    logs_burnin=null
    logs_resample=null
    trees_burnin=null
    trees_resample=null
    sequence_length=null
    clock_rate=null
}
